/*purgecss start ignore*/
@tailwind base;
@tailwind components;
/*purgecss end ignore*/

:root {
    --b-margin: 24px;
    --border-rad: 36px;
}

body {
    background-color: #ffff
}

.hero-backdrop {
    border-bottom-left-radius: var(--border-rad);
    border-bottom-right-radius: var(--border-rad);
    background-color: white;
    /*box-shadow: rgba(209, 230, 255, 0.57) 0px 2px 24px 1px;*/
    margin-bottom: var(--b-margin);
}

.mini-button {
    @apply bg-gray-300 rounded-full w-12 h-12 transition-all duration-200
}

.mini-button:hover {
    background-color: #f0f3f7;
}

.mini-button:focus {
    outline: 0;
}

.section-heading {
    margin-bottom: calc(var(--b-margin) / 3);
    @apply text-3xl font-semibold text-gray-600
}

.skills-backdrop {
    border-radius: var(--border-rad);
    background-color: white;
    box-shadow: rgba(188, 194, 208, 0.57) 0px 2px 24px 1px;
    margin-bottom: var(--b-margin);
}

.skill-capsule {
    @apply border shadow-sm text-gray-800 py-1 px-3 rounded-full flex-shrink-0 mr-2 mb-2
}


@tailwind utilities;
